<!doctype html>
    <title>Choose earning stats file</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <h1>Choose earning stats file</h1>

    <form method=post enctype=multipart/form-data>
      <p><input type=file name=file>
         <small id="fileHelp" class="form-text text-muted">Choose the earnings .csv file exported from the Bitfinex page (Manage Account/Reports/Funding Earnings)</small>
          <br>
          <input type=submit value=Upload>
      </p>

    </form>